*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
canvas{
    background-color: #000;
    width: 100%;
    height: 525px;
    overflow: hidden;
}