*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    /*Explanation: https://github.com/necolas/normalize.css/issues/665 */
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p{
    line-height: 1.75;
}

a{
    /*Color for links*/
    color: #fed136;
}

a:hover{
    /*Color when hovering over links*/
    color: #33ffff;
}

/*color for the background of the services icons*/
.text-primary{
    color: #33eeee !important;
}

#navigationBar{
    background-color: #212529;
}

/*Mobile menu style*/
#navigationBar .navbar-toggler{
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #006666;
}

/*Brand text, size, and color*/
#navigationBar .navbar-brand{
    color: white ;
    font-family: 'Kaushan Script';
    font-size: 30px;
}

/*Hovering over the brand name*/
#navigationBar .navbar-brand.active, #navigationBar  .navbar-brand:active, #navigationBar .navbar-brand:focus, #navigationBar .navbar-brand:hover{
    color: #fec503;
}

/*Navigation items text, size, color*/
#navigationBar .navbar-nav .nav-item .nav-link{
    font-size: 90%;
    font-weight: 400;
    font-family: 'Merriweather', serif;
    color: white;
}

/*Hovering over a navigation bar item*/
#navigationBar .navbar-nav .nav-item .nav-link.active, #navigationBar .navbar-nav .nav-item .nav-link:hover{
    color: #33ffff;
}

canvas{
    background-color: #151521;
    width: 100%;
    height: 525px;
    overflow: hidden;
}

section{
    padding: 100px 0;
}

section h2.section-heading{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif", sans-serif;
}

/*deleting the dots of the ul style from the timeline in about*/
.timeline{
    position: relative;
    padding: 0;
    list-style: none;
}

/*this part draws the line to the left of the timeline items*/
.timeline:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: ' ';
    background-color: #e9ecef;
}

/*This part hides the timeline line behind a picture*/
.timeline > li{
    position: relative; /*this hides the line behind a picture if there's one*/
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline > li:before, .timeline > li:after{
    display: table;
    content: ' ';
}

.timeline > li:after{
    clear: both;
}

/* putting distance between the line and the timeline items */
.timeline > li .timeline-panel{
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}




